<section id="main" class="main">
<p id="notice"><%= notice %></p>
  <h3><%= @campaign_strip.title %></h3>
<div class="pb-wrapper pb-wrapper-3">
  <div class="pb-scroll">
    <ul class="pb-strip">
      <li><a href="<%= image_path(@campaign_strip.image_or_default(0, :original)) %>" data-lightbox="album-1" title="<%= @campaign_strip.title_or_default %>"><%= image_tag( @campaign_strip.image_or_default, :alt => "Hearno Logo") %></a></li>
      <li><a href="<%= image_path( @campaign_strip.image_or_default(1, :original)) %>" data-lightbox="album-1" title="<%= @campaign_strip.title_or_default(1) %>"><%= image_tag( @campaign_strip.image_or_default(1), :alt => "Hearno Logo") %></a></li>
      <li><a href="<%= image_path( @campaign_strip.image_or_default(2, :original)) %>" data-lightbox="album-1" title="<%= @campaign_strip.title_or_default(2) %>"><%= image_tag( @campaign_strip.image_or_default(2), :alt => "Hearno Logo") %></a></li>
    </ul>
  </div>
  <h3 class="pb-title"><%= @campaign_strip.description %></h3>
  <h5 class="pb-title"><%= @campaign_strip.creator.name %></h5>
</div>

<%= link_to 'Edit', edit_campaign_strip_path(@campaign_strip) %> |
<%= link_to 'Back', campaign_strips_path %>
</section>